<app-header></app-header>
<div>
    <div class="max-w-7xl mx-auto my-10">
        <h1 class="text-[35px] font-bold">Shopping Cart</h1>
        <div class="grid grid-cols-3 gap-10 my-5 border-2 border-gray-200 p-4 rounded-lg">
            <div class="col-span-2 ">
                <h1 class="text-[25px] font-bold">Product</h1>
                <div class="flex flex-row gap-4">
                    <div>
                        <img src="../../../../assets/image/Queening_The_Pawn_Backpack_Size_S.jpg" alt=""
                        class="w-[200px] " />
                    </div>
                    <div class="flex flex-col justify-around">
                        <div>
                            <h1 class="text-[20px] font-bold text-gray-800 mt-2">Queening The Pawn Backpack Size S</h1>
                        </div>
                        <div>
                            <p class="text-gray-500 text-[14px]">Category: Bags</p>
                            <p class="text-gray-500 text-[14px]">Collection: Queening</p>
                            <h1 class="text-[16px] font-bold text-gray-800">Price: 100.000 vnđ</h1>
                        </div>
                    </div>    
                </div>
                <hr>
                <div class="flex flex-row gap-4">
                    <div>
                        <img src="../../../../assets/image/Queening_The_Pawn_Backpack_Size_S.jpg" alt=""
                        class="w-[200px] " />
                    </div>
                    <div class="flex flex-col justify-around">
                        <div>
                            <h1 class="text-[20px] font-bold text-gray-800 mt-2">Queening The Pawn Backpack Size S</h1>
                        </div>
                        <div>
                            <p class="text-gray-500 text-[14px]">Category: Bags</p>
                            <p class="text-gray-500 text-[14px]">Collection: Queening</p>
                            <h1 class="text-[16px] font-bold text-gray-800">Price: 100.000 vnđ</h1>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-span-1">
                <h1 class="text-[25px] font-bold">Order Summary</h1>
                <div class="mt-5">
                    <h1 class="text-[18px] font-semibold text-gray-800">Subtotal: 200.000 vnđ</h1>
                    <h1 class="text-[18px] font-semibold text-gray-800">Shipping: Free</h1>
                    <div class="border-t-2 border-gray-200 mt-4 pt-4">
                        <h1 class="text-[18px] font-semibold text-gray-800">Total: 200.000 vnđ</h1>
                    </div>
                    <div class="mt-4 flex flex-col gap-4">
                        <button class="w-full h-[40px] text-[14px] font-bold bg-black text-white
                        hover:bg-white hover:text-black hover:border-gray-950 hover:border-[4px] hover:scale-105 transtion duration-100">CHECKOUT</button>
                        <button class="w-full h-[40px] text-[14px] font-bold
                        hover:border-gray-950 hover:border-[4px] hover:scale-105 transition duration-200">Continue Shopping</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>