<table class="max-w-6xl mx-auto mb-[50px]">
    <thead>
      <tr>
        <th>Marketplace</th>
        <th>My Account</th>
        <th>Resources</th>
        <th>Company</th>
        <th>Legal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">All NFT</a></td>
        <td><a href="#">Profile</a></td>
        <td><a href="#">Blog</a></td>
        <td><a href="#">Careers</a></td>
        <td><a href="#">Privacy</a></td>
      </tr>
      <tr>
        <td><a href="#">Art</a></td>
        <td><a href="#">Favorite</a></td>
        <td><a href="#">Learn</a></td>
        <td><a href="#">Affiliate Partners</a></td>
        <td><a href="#">Terms</a></td>
      </tr>
      <tr>
        <td><a href="#">Gaming</a></td>
        <td><a href="#">Creator</a></td>
        <td><a href="#">Help Center</a></td>
        <td><a href="#">Partner</a></td>
        <td><a href="#">Security</a></td>
      </tr>
      <tr>
        <td><a href="#">Membership</a></td>
        <td><a href="#">Settings</a></td>
        <td><a href="#">Live Training</a></td>
        <td><a href="#">About</a></td>
      </tr>
      <tr>
        <td><a href="#">Photography</a></td>
        <td><a href="#">My Collection</a></td>
        <td><a href="#">FAQ</a></td>
        <td><a href="#">Grants</a></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="flex flex-row justify-center gap-[900px]">
    <div class="footer-bottom">
      © 2021 Besnik.com | All Rights Reserved
    </div>
    <div class="footer-bottom flex flex-row">
      Facebook Google Twitter Dribbble
    </div>
  </div>