<aside class="w-80 bg-black text-white min-h-screen">
  <div class="p-4 min-h-[60px] border-b border-gray-700 flex">
    <div class="mr-4 flex items-center justify-center">
      <img src="../../../assets/image/V-white.png" alt="Logo" class="w-[55px] h-[55px] rounded-full">
    </div>
    <div class="flex flex-col justify-center mt-2">
      <p class="text-[24px] font-bold">VAMT</p>
      <span class="text-gray-400">Admin panel</span>
    </div>
  </div>

  <nav class="mt-4 pl-2">
    <div *ngFor="let group of menuGroups" class="mb-2">
      <ng-container *ngIf="group.children; else singleLink">
        <button (click)="toggleGroup(group)"
                class="flex justify-between w-full px-4 py-2 hover:bg-[#3c3c3c] transition">
          <span>{{ group.label }}</span>
          <span [class.rotate-180]="group.open" class="transition-transform">▼</span>
        </button>
        <div *ngIf="group.open" class="ml-4 border-l-2 border-[#3c3c3c]">
          <a *ngFor="let item of group.children"
             [routerLink]="item.link"
             routerLinkActive="bg-gray-100 text-black"
             class="block px-4 py-2 hover:bg-[#3c3c3c] hover:text-white transition">
            {{ item.label }}
          </a>
        </div>
      </ng-container>

      <ng-template #singleLink>
        <a [routerLink]="group.link"
           routerLinkActive="bg-gray-100 text-black"
           class="block px-4 py-2 hover:bg-[#3c3c3c] hover:text-white transition">
          {{ group.label }}
        </a>
      </ng-template>

    </div>
  </nav>
</aside>
