.liCollection{
    cursor: pointer;
    position: relative;
}

.liCollection:after{
    content:"";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 50%;
    height: 2px;
    left: 25%;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.liCollection:hover:after{
    transform: scaleX(1);
}