.nav-link {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #1f2937; 
  transition: all 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover{
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
