<app-header></app-header>
<div
  class="w-[1000px]  bg-black text-white mx-auto mt-[100px] rounded-[20px] flex flex-col justify-center items-center shadow-2xl shadow-slate-950 p-20"
>
  <div class="w-full">
    <p class="text-[30px] font-bold">Create account</p>
    <p class="text-[12px]">Please enter your information.</p>
    <form class="grid grid-cols-2 gap-5 mt-5" [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div>
            <input type="text" formControlName = "first_name" placeholder="First Name" class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black" />
        </div>
        <div>
            <input type="text" formControlName = "last_name" placeholder="Last Name" class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black" />
        </div>
        <div class="flex flex-row gap-5 text-[12px] font-bold ">
            <div>
                <input type="radio" formControlName = "gender" name="gender" value="MALE" class="text-white m-5 " />Male
            </div>
            <div>
                <input type="radio" formControlName = "gender" name="gender" value="FEMALE" class="text-white m-5" />Female
            </div>
        </div>
        <div>
            <input type="date" formControlName = "date_of_birth" placeholder="Date of Birth" class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black" />
        </div>
        <div>
            <input type="text" formControlName = "phone" placeholder="Phone Number" class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black" />
        </div>
        <div>
            <input type="text" formControlName = "address" placeholder="Address" class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black" />
        </div>
       
        <div class="col-span-2">
            <input
            type="text"
            placeholder="Email"
            formControlName = "email"
            class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black"
            />
        </div>
        <div class="col-span-2">
            <input
            type="password"
            placeholder="Password"
            formControlName = "password"
            class="p-2 w-full h-[40px] text-[12px] my-2 rounded-md text-black"
            />
        </div>
        <div class="flex flex-row justify-between mt-5 text-[12px] font-bold col-span-2">
            <div class="flex flex-row gap-5">
                <button class="bg-white text-black w-[100px] h-[40px] rounded-md " type="submit">CREATE</button>
                <button (click)="gotoLogin()" >Back to login</button>
            </div>
        </div>
    </form>
  </div>
</div>
