<div class="max-w-7xl mx-auto p-6 bg-white rounded-lg shadow min-h-full">
  <h2 class="text-xl font-bold mb-6">Quản lý danh mục / bộ sưu tập</h2>

  <!-- CATEGORY SECTION -->
  <div class="mb-10">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">Danh mục (Category)</h3>
      <button
        (click)="openCategoryModal()"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        + Thêm danh mục
      </button>
    </div>
    <table class="w-full border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="border border-gray-200 p-2 text-left">Tên danh mục</th>
          <th class="border border-gray-200 p-2 text-left">Mô tả</th>
          <th class="border border-gray-200 p-2 text-center">Hành động</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let cat of categories | paginate: { id: 'category', itemsPerPage: 5, currentPage: categoryPage }">
          <td class="w-1/4 border border-gray-200 p-2">{{ cat.category_name }}</td>
          <td class="w-2/4 border border-gray-200 p-2">{{ cat.description }}</td>
          <td class="w-1/4 border border-gray-200 p-2 text-center space-x-2">
            <button
              (click)="openCategoryModal(cat)"
              class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600"
            >
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
            <button
              (click)="deleteCategory(cat._id)"
              class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls 
      id="category" 
      (pageChange)="categoryPage = $event" 
      class="mt-4 flex justify-center">
    </pagination-controls>
  </div>

  <hr class="mb-10">

  <!-- COLLECTION SECTION -->
  <div>
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">Bộ sưu tập (Collection)</h3>
      <button
        (click)="openCollectionModal()"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        + Thêm bộ sưu tập
      </button>
    </div>
    <table class="w-full border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="w-1/4 border border-gray-200 p-2 text-left">Tên bộ sưu tập</th>
          <th class="w-2/4 border border-gray-200 p-2 text-left">Mô tả</th>
          <th class="w-1/4 border border-gray-200 p-2 text-center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of collections | paginate: {id: 'collection', itemsPerPage: 5, currentPage: collectionPage }">
          <td class="border border-gray-200 p-2">{{ col.collection_name }}</td>
          <td class="border border-gray-200 p-2">{{ col.description }}</td>
          <td class="border border-gray-200 p-2 text-center space-x-2">
            <button
              (click)="openCollectionModal(col)"
              class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600"
            >
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
            <button
              (click)="deleteCollection(col._id)"
              class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls 
      id="collection" 
      (pageChange)="collectionPage = $event" 
      class="mt-4 flex justify-center">
    </pagination-controls>
</div>

<!-- CATEGORY MODAL -->
<div
  *ngIf="showCategoryModal"
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div class="bg-white p-6 rounded-lg w-96 shadow-lg">
    <h3 class="text-lg font-bold mb-4">
      {{ editingCategory ? 'Sửa danh mục' : 'Thêm danh mục' }}
    </h3>
    <input
      [(ngModel)]="categoryForm.name"
      placeholder="Tên danh mục"
      class="w-full border p-2 rounded mb-4"
    />
    <input
     [(ngModel)]="categoryForm.description"
      placeholder="Mô tả"
      class="w-full border p-2 rounded mb-4"
    />

    <div class="flex justify-end space-x-2">
      <button (click)="closeCategoryModal()" class="px-4 py-2 border rounded">
        Hủy
      </button>
      <button
        (click)="saveCategory()"
        class="px-4 py-2 bg-blue-500 text-white rounded"
      >
        Lưu
      </button>
    </div>
  </div>
</div>

<!-- COLLECTION MODAL -->
<div
  *ngIf="showCollectionModal"
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div class="bg-white p-6 rounded-lg w-96 shadow-lg">
    <h3 class="text-lg font-bold mb-4">
      {{ editingCollection ? 'Sửa bộ sưu tập' : 'Thêm bộ sưu tập' }}
    </h3>
    <input
      [(ngModel)]="collectionForm.name"
      placeholder="Tên bộ sưu tập"
      class="w-full border p-2 rounded mb-4"
    />
    <textarea
      [(ngModel)]="collectionForm.description"
      placeholder="Mô tả"
      class="w-full border p-2 rounded mb-4"
    ></textarea>
    <div class="flex justify-end space-x-2">
      <button (click)="closeCollectionModal()" class="px-4 py-2 border rounded">
        Hủy
      </button>
      <button
        (click)="saveCollection()"
        class="px-4 py-2 bg-blue-500 text-white rounded"
      >
        Lưu
      </button>
    </div>
  </div>
</div>
    